*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/misc.xml
.idea/gradle.xml
app/src/main/java/com/tabbedtraining/rafi/maticehandroid/Config.java
mylibrary/build.gradle
mylibrary/proguard-rules.pro
mylibrary/src/androidTest/java/asymalaps/mylibrary/ExampleInstrumentedTest.java
mylibrary/src/main/AndroidManifest.xml
mylibrary/src/main/res/values/strings.xml
mylibrary/src/test/java/asymalaps/mylibrary/ExampleUnitTest.java
mylibrary/build.gradle
mylibrary/proguard-rules.pro
mylibrary/src/androidTest/java/asymalaps/mylibrary/ExampleInstrumentedTest.java
mylibrary/src/main/AndroidManifest.xml
mylibrary/src/main/res/values/strings.xml
mylibrary/src/test/java/asymalaps/mylibrary/ExampleUnitTest.java
mylibrary/build.gradle
mylibrary/proguard-rules.pro
mylibrary/src/androidTest/java/asymalaps/mylibrary/ExampleInstrumentedTest.java
mylibrary/src/main/AndroidManifest.xml
mylibrary/src/main/res/values/strings.xml
mylibrary/src/test/java/asymalaps/mylibrary/ExampleUnitTest.java
.idea/misc.xml
