*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/misc.xml
.idea/gradle.xml
app/src/main/java/com/tabbedtraining/rafi/maticehandroid/Config.java
mylibrary/build.gradle
mylibrary/proguard-rules.pro
mylibrary/src/androidTest/java/asymalaps/mylibrary/ExampleInstrumentedTest.java
mylibrary/src/main/AndroidManifest.xml
mylibrary/src/main/res/values/strings.xml
mylibrary/src/test/java/asymalaps/mylibrary/ExampleUnitTest.java
mylibrary/build.gradle
mylibrary/proguard-rules.pro
mylibrary/src/androidTest/java/asymalaps/mylibrary/ExampleInstrumentedTest.java
mylibrary/src/main/AndroidManifest.xml
mylibrary/src/main/res/values/strings.xml
mylibrary/src/test/java/asymalaps/mylibrary/ExampleUnitTest.java
mylibrary/build.gradle
mylibrary/proguard-rules.pro
mylibrary/src/androidTest/java/asymalaps/mylibrary/ExampleInstrumentedTest.java
mylibrary/src/main/AndroidManifest.xml
mylibrary/src/main/res/values/strings.xml
mylibrary/src/test/java/asymalaps/mylibrary/ExampleUnitTest.java
.idea/misc.xml
local.properties
.gradle/5.1.1/executionHistory/executionHistory.bin
.gradle/5.1.1/executionHistory/executionHistory.lock
.gradle/5.1.1/fileHashes/fileHashes.bin
.gradle/5.1.1/fileHashes/fileHashes.lock
.gradle/5.1.1/javaCompile/classAnalysis.bin
.gradle/5.1.1/javaCompile/javaCompile.lock
.gradle/5.1.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/caches/gradle_models.ser
.idea/misc.xml
.idea/workspace.xml
app/app.iml
app/src/main/java/com/example/maticehguru/MainActivity.java
.gradle/5.1.1/executionHistory/executionHistory.lock
.gradle/5.1.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/caches/gradle_models.ser
